/* colors Living Coral #FC766AFF
colors Pacific Coast #5B84B1FF
colors Blooming Dahlia #E69A8DFF 
colous Warm Sand #CDB599FF */

* {
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}

.start-button {
    background-color: #E69A8DFF ;
    border: none;
    color: #CDB599FF;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}