/* colors Living Coral #FC766AFF
colors Pacific Coast #5B84B1FF
colors Blooming Dahlia #E69A8DFF 
colous Warm Sand #CDB599FF */

* {
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */

}


.container {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    color: #DD9C4C;
    padding: 10px 10px 10px 10px;
    background-color:  #FFF3C3;
}

.start-button {
    background-color: #FF7E6F;
    border: 10px;
    box-shadow: 5px 10px rgb(95, 93, 93)
    text-decoration-color: #5B84B1FF;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;
    /*display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;*/
    
}