/* colors Living Coral #FC766AFF
colors Pacific Coast #5B84B1FF
colors Blooming Dahlia #E69A8DFF 
colous Warm Sand #CDB599FF */

* {
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */

}


.container {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-weight: bold;
    color: #DD9C4C;
    padding: 10px 10px 10px 10px;
    background-color:  #FFF3C3;
}

.page {
    padding-top: 100px;
}

.form {
    margin-left: 25%;
    text-align: left;
}

#button {
    margin-left: 25%;
}

.start-button {
    background-color: #FF7E6F;
    border: 10px;
    box-shadow: 5px 10px 10px rgba(250, 194, 89, 0.856);
    text-decoration-color: #5B84B1FF;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;
    cursor: pointer;
}

.images {
    display: flex;
}

.img-circle {
    width: 35%;
    height: auto;
    border-radius: 50px;
}



a:link {
    text-decoration: none;
}

a {
    color: black
}