
    <h2>
      Which EDA Staff Member would you like to brunch with?
    </h2>
 <div>
   <br>
    <p> 
      Is this frowned upon within the EDA Code of Conduct? Probably! But who cares...
    </p> 
    <p>
      Click the button below to find out who you secretly resonate with...
    </p>
    <br>
     <button class="start-button"><a href="/question/1">START QUIZ</a></button>
  </div>


