
    <h2>
      Which EDA Faculty Member would you like to have breakfast with?
    </h2>
 <div>
   <br>
    <p> 
      Is this frowned against in the EDA Code of Conduct? Probably!
    </p> 
    <p>
      But click the button below to start the quiz and find out which EDA faculty member you secretly resonate with...
    </p>
    <br>
    <input type="Start Quiz" value="Start Quiz" class="start-button">
  </div>


