<div class="page">
  <h2>
    Which EDA Staff Member would you like to brunch with?
  </h2></br>
  
  <p> 
    Is this frowned upon within the EDA Code of Conduct? Probably! But who cares...
  </p> 
  <p>
    Click the button below to find out who you secretly resonate with...
  </p>
  <br>
    <a href="/question/1">
      <button class="start-button">
        START QUIZ
      </button>
    </a>
</div>


