<div class="page">
  <h1>What brunch option resonates with your true self?</h1>
  <br>
  <form class="form" action="/questions/results" method="post">
    <input type="radio" name="choice" value="1"> Museli </br>
    <input type="radio" name="choice" value="2"> Eggs Benedict </br>
    <input type="radio" name="choice" value="3"> Anything on an English Muffin </br>
    <input type="radio" name="choice" value="4"> Omelette </br>
    <input type="radio" name="choice" value="5"> No Breakfast </br>
    <input type="radio" name="choice" value="6"> I don't mind what's for Breakfast, as long as it wasn't what I had yesterday </br></br>

    <input id="button" type="SUBMIT" value="SUBMIT" class="start-button">
  </form>
</div>