<h1>What breakfast option resonates with your true self today?</h1>
<br>
<form >
<input type="radio" name="choice" value="1"> Museli
<input type="radio" name="choice" value="2"> Eggs Benedict
<input type="radio" name="choice" value="3"> Anything on an English Muffin
<input type="radio" name="choice" value="4"> Omellette
<input type="radio" name="choice" value="5"> No Breakfast
<input type="radio" name="choice" value="6"> I don't mind what's for Breakfast, as long as it wasn't what I had yesterday
</form>
<button>Submit Answer</button> 