<div class="breakfast">
  <img class="img-circle" scr="{{image}}" alt="{{name}}">
  <h2>You'd love to have breakfast with {{teacher name}}</h2>
  <div>The breakfast you'll be sharing: {{breakfast}}</div>
</div>