<div class="breakfast">
  <img class="img-circle" src={{image}} alt={{name}}>
  <h2>You've earned yourself a breakfast with {{name}}</h2>
  <div>The breakfast you'll be sharing: {{breakfast}}</div>
</div>